extends layout

block content
  h1= title + ' ' + user
  p Welcome back #{user} to 
    b #{title}

  p Ceci est un vrai 
    b test !
    
  p= user
  p #{user}
  
  h2 Test D3.js
  p Voici quelques essais avec 
    b D3.js    : 
    ul
        li
            a(href='d3/chords') Chords
        li
            a(href='d3/tuto') Tuto
  div.
    <b>Bonjour !<br>les amis...</b>
    
