extends layout

block content
  h1= title + ' ' + user
  p Welcome back #{user} to 
    b #{title}

  p Ceci est un vrai 
    b test !
    
  p= user
  p #{user}
  
  h2 Test D3.js
  p
    a(href='d3') Petit essai avec D3.js

  div.
    <b>Bonjour !<br>les amis...</b>
    
